Q1. Write a program to calculate the electricity bill
using only if statement? (accept number of unit from user)
according to the following criteria:

Unit Price
First 100 units no charge
Next 100 units Rs 5 per unit
After 200 units Rs 10 per unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
For first 100 no charges
Now you have 250 unit remaining
100-200 you need to pay – 100*5 = 500
Now 200-100 you need to pay 150*10 = 1500
Total = 500+1500 = 2000

In [4]:
units = int(input("enter the number of units consumed: "))

billed_amount = 0
if units <= 100: 
    billed_amount = 0
elif units <= 200: 
    billed_amount = (units-100) * 5
else: 
    billed_amount = (100*5) + (units-200) * 10

print(f"total billed amount: {billed_amount}")

enter the number of units consumed:  350

total billed amount: 2000

Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:

Marks Grade
> 90 A
> 80 and <= 90 B
>= 60 and <= 80 C
below 60 D

In [39]:
percentage = float(input("enter your percentage: "))

if percentage > 90:
    garde = "A"
elif percentage > 80 and percentage <= 90:
    grade = "B"
elif percentage >=60 and percentage <= 80: 
    garde = "C"
else: 
    grade = "D"
print(f"your grade is : {grade}")

enter your percentage:  85

your grade is : B

Q3. Accept the age of 4 people and display the youngest one?

In [46]:
age1 = int(input("enter the age of person 1: "))
age2 = int(input("enter the age of person 2: "))
age3 = int(input("enter the age of person 3: "))
age4 = int(input("enter the age of person 4: "))

youngest = age1

if age2< youngest: 
    youngest = age2
if age3<youngest:
    youngest = age3

if age4<youngest:
    youngest = age4

print(f"youngest age is: {youngest}")

enter the age of person 1:  45
enter the age of person 2:  63
enter the age of person 3:  78
enter the age of person 4:  30

youngest age is: 30

Q4. A company decided to give bonus to employee
according to following criteria:

Time period of Service Bonus

More than 10 years 10%
>=6 and <=10 8%

Less than 6 years 5%

Ask user for their salary and years of service and print the
net bonus am
ount?s 10%

In [59]:
salary = float(input("enter your salary: "))
year_of_service = int(input("enter your year of service: "))

if year_of_service > 10:
    bonus_percentage = 10

elif 6<= year_of_service <= 10: 
    bonus_percentage = 8

else:
    bonus_percentage = 5

bonus_amount = (bonus_percentage/100) * salary

print(f"your net bonus_amount: {bonus_amount}")

enter your salary:  50000
enter your year of service:  5

your net bonus_amount: 2500.0

Q5. Accept three numbers from the user and
display the second largest number?

In [72]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
num3 = int(input("enter third number: "))

if num1>num2 and num1>num3:
    if num2>num3:
        print("the second largest number is", num2)
    else:
        print("the second largest number is", num3)
elif num2>num1 and num2>num3:
    if num1>num3:
        print("the second largest number is", num1)
    else:
        print("the second largest number is", num3)
else:
    if num1 > num2:
        print("the second largest number is", num1)
    else:
        print("the second largest number is", num2)

enter first number:  50
enter second number:  60
enter third number:  70

the second largest number is 60

Q6. Accept the marked price from the user and calculate
the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price Discount
>10000 20%
>7000 and <=10000 15%
<=7000 10%

In [83]:
marked_prise = float(input("enter the marked prise: "))

if marked_prise > 10000:
    discount_percentage = 20
elif 7000 < marked_prise <= 10000:
    discount_percentage = 15
else:
    discount_percentage = 10

discount_amount = (discount_percentage / 100) * marked_prise

net_amount = marked_prise - discount_amount

print(f"the net amount is : {net_amount}")

enter the marked prise:  500000

the net amount is : 400000.0

Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities

In [98]:
english_marks = float(input("enter the marks of english: "))
math_marks = float(input("enter the marks of math: ")) 
science_marks = float(input("enter the marks of science: "))
social_studies_marks = float(input("enter the marks of social studies: "))

if english_marks > 80 and math_marks > 80 and science_marks > 80 and social_studies_marks > 80: 
    stream = "science stream"
elif english_marks > 80 and math_marks > 50 and science_marks > 50:
    stream = "commerce stream"
elif english_marks > 80 and social_studies_marks > 80: 
    stream = "humanities stream"
else:
    stream =" no specific stream allocat"

print(f"the allocated stream is: {stream}")

enter the marks of english:  85
enter the marks of math:  56
enter the marks of science:  95
enter the marks of social studies:  86

the allocated stream is: commerce stream

Q8. Write a program to display "Hello" if a number entered
by user is a multiple of five, otherwise print "Bye"?

In [107]:
number = int(input("enter the number: "))

if number % 5 ==0:
    print("hello")
else:
    print("bye")

enter the number:  45

hello

Q9. Write a program to check whether the last digit of a number
(entered by user) is divisible by 3 or not?

In [114]:
number = int(input("enter the number: "))

last_digit = abs(number) % 10

if last_digit % 3 == 0:
    print(f"the last digit {last_digit} is divisible by 3")
else:
    print(f"the last digit {last_digit} is not divisible by 3")

enter the number:  7458

the last digit 8 is not divisible by 3

Q10. Write a program to check whether a number entered
is three-digit number or not?

In [119]:
number = int(input("enter the number: "))

if 100 <= abs(number) <= 999:
    print("the number is three digit")
else:
    print("the number is not three digit")

enter the number:  789

the number is three digit